include *.txt
include LICENSE
include *.rst
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc *.txt
recursive-include test *.ini
recursive-include test *.py
recursive-include test *.txt
